.contact-form {
  padding-right: 20px;
  h3 {
    font-size: 20px;
    margin-bottom: 25px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eeeeee;
  }
  form {
    label {
      display: block;
      margin-bottom: 12px;
      font-size: 15px;
      font-weight: 600;
    }
    .form-check {
      color: $secondary-color;
      margin-top: 5px;
      .form-check-input {
        margin-top: 0.18em;
        box-shadow: unset !important;
      }
      .form-check-input[type="checkbox"] {
        border-radius: 0;
      }
      :checked {
        background-color: $primary-color;
        border-color: $primary-color;
      }
      :focus {
        border-color: $primary-color;
      }
    }
    .default-btn {
      margin-top: 5px;
      border: 0;
      z-index: 1;
      overflow: hidden;
      position: relative;
      padding: 11px 30px;
      border-radius: 5px;
      letter-spacing: 0.5px;
      display: inline-block;
      color: white;
      transition: 0.5s;
      background-color: $primary-color;
      font: {
        size: 13px;
        font-family: "Fredoka One", cursive;
      }
      &::before {
        top: 0;
        left: 0;
        height: 0;
        content: "";
        z-index: -1;
        width: 25.25%;
        position: absolute;
        transition: 0.5s ease-in-out;
        background-color: black;
      }
      &::after {
        top: 0;
        left: 50%;
        height: 0;
        content: "";
        z-index: -1;
        width: 25.25%;
        position: absolute;
        transition: 0.5s ease-in-out;
        background-color: black;
      }
      span {
        display: block;

        &::before {
          bottom: 0;
          height: 0;
          left: 25%;
          content: "";
          z-index: -1;
          width: 25.25%;
          position: absolute;
          transition: 0.5s ease-in-out;
          background-color: black;
        }
        &::after {
          bottom: 0;
          left: 75%;
          height: 0;
          content: "";
          z-index: -1;
          width: 25.25%;
          position: absolute;
          transition: 0.5s ease-in-out;
          background-color: black;
        }
      }
      &:hover {
        color: white;
        background-color: $primary-color;

        &::before,
        &::after {
          height: 100%;
        }
        span {
          &::before,
          &::after {
            height: 100%;
          }
        }
      }
    }
    .help-block {
      .with-errors {
        color: red;
        margin-bottom: 0;
        margin-top: 12px;
      }
    }
    #msgSubmit {
      margin: 0;
      .text-danger {
        margin-top: 12px;
      }
      .text-success {
        margin-top: 12px;
      }
    }
  }
}

.contact-info {
  padding-left: 0;
  margin-bottom: 0;
  list-style-type: none;

  h3 {
    font-size: 20px;
    margin-bottom: 25px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eeeeee;
  }
  ul {
    padding-left: 0;
    margin-bottom: 0;
    list-style-type: none;
    li {
      color: $secondary-color;
      margin-bottom: 13px;
      span {
        font-weight: 600;
        color:black;
      }
      a {
        color: $secondary-color;
      }
      a:hover {
        color: $primary-color;
      }
    }
    li:last-child {
        margin-bottom: 0;
      }

  }
}

#maps {
    padding-top: 100px;
    iframe {
        margin-bottom: -6px;
        height: 500px;
        border: none;
        width: 100%;
      }
      
  }
  